.t1{
    background-color: rgba(30, 144, 255, 0.49);
}
.t2{
    background-color: rgba(199, 199, 199, 0.54);
}
.t3{
    background-color: rgba(182, 234, 132, 0.99);
}
.t4{
    background-color: rgba(30, 144, 255, 0.34);
}
.t5{
    background-color: rgba(230, 209, 69, 0.82);
}
.t6{
    background-color: rgba(255, 34, 36, 0.53);
}
.t7{
    background-color: rgba(168, 168, 168, 0.5);
}
.t9{
    background-color: rgba(169, 169, 169, 0.6);
}

.wad{
    box-shadow: 0 0 15px darkgrey;
}





