.megan{
    margin-top:100px !important;
}
.did{
    font-weight: bold;
    float: left;
    font-size: 16px;
    margin-top: 55px;
}
.did2{
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-left: 660px;
    margin-top: 55px;
}
.wado{
    box-shadow: 0 0 4px darkgrey !important;
    font-weight: bold;
}
.son{
    margin-left:10px;
}
.pad{
    padding-right: 55px;
}
.tank{
    font-size: 16px;
    font-weight: bold;
}
.wow{
    width: 80px;
    height: 36px;
}
.wox{
    height: 100px;
}







