.box1{
    background-color: #87b8e1;
}
.box2{
    background-color: #b2e3b2;
}
.box3{
    background-color: #9ecbef !important;
}
.box4{
    background-color: #ded6d6 !important;
}
.box5{
    background-color: #e3dab0 !important;
}
.box6{
    background-color: #dabfd3 !important;
}
.box7{
    background-color: #c4c2c2 !important;
}
.box8{
    background-color: #bbbaba;
}
.box9{
    background-color: #ded9d9 !important;
}
